.main {
  padding: 100px 52px;
  background-color: $bg-main;

  &__title {
    color: $black;
    font-size: 32px;
    font-weight: 600;
    padding: 36px 0 23px;
    border-bottom: 1px solid #A8A8A8;
    line-height: 40px;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px 24px;
    padding-top: 24px;
  }

  &__item {
    display: inline-flex;
    flex-direction: column;
    padding: 32px;
    align-items: flex-start;
    border: 1px solid #A8A8A8;
    font-family: Cabin;
    font-size: 20px;
    font-weight: 700;
    background-color: #F8FDFE;
    position: relative;
    max-width: 306px;
    max-height: 512px;

    img {
      margin: 0 auto;
      max-width: 178px;
      max-height: 280px;
    }

    &-badge {
      display: inline-flex;
      width: 161px;
      height: 32px;
      align-items: flex-start;
      gap: 4px;
      position: absolute;
    }

    &-hit {
      color: $white;
      background: $bg-hit;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      border-radius: 4px;
      padding: 4px 8px;
    }

    &-new {
      color: $white;
      background: $bg-new;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      border-radius: 4px;
      padding: 4px 8px;
    }

    &-sale {
      color: $white;
      background: $bg-sale;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      border-radius: 4px;
      padding: 4px 8px;
    }

    &-name {
      margin-top: 16px;
      display: flex;
      width: 242px;
      height: 31px;
      flex-direction: column;
      justify-content: center;
      color: $black;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &-author {
      margin-bottom: 8px;
      width: 241px;
      height: 24px;
      color: $author-book;
      font-size: 16px;
      border-top: 1px solid #A8A8A8;
    }

    &-price {
      margin-bottom: 16px;
      display: flex;
      color: $price-book;
      font-size: 24px;
      font-weight: 500;
      margin-top: auto;
      gap: 24px;
      line-height: 32px;
    }

    &-price-3,
    &-price-5,
    &-price-6,
    &-price-7,
    &-price-10,
    &-price-11 {
      color: $author-book;
      line-height: 32px;
      text-decoration: line-through;
    }

    &-add {
      display: flex;
      color: $white;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      padding: 8px 24px;
      justify-content: center;
      align-items: center;
      align-self: stretch;
      border-radius: 4px;
      background: $btn-hover;
      transition: .2s;

      &:hover {
        background: $btn;
      }
    }

    &-end {
      display: flex;
      color: $white;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      padding: 8px 24px;
      justify-content: center;
      align-items: center;
      align-self: stretch;
      border-radius: 4px;
      background: $btn-end-hover;
      transition: .2s;

      &:hover {
        background: $btn-end;
      }
    }
  }

  &__chat-container {
    display: flex;
    justify-content: flex-end;
  }

  &__chat {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $bg-chat;
    width: 64px;
    height: 64px;
    border-radius: 40px;
    position: fixed;
    bottom: 60px;
    right: 28px;
    transition: .2s;

    &:hover {
      transform: rotate(12.05deg);
    }
  }
}