$bg-header-top: #10BBD5;
$bg-header-bottom: #fff;
$white: #F8FDFE;
$black: #1F1F1F;
$bg-main: #EEEEEF;
$author-book: #8E8E8E;
$price-book: #E90000;
$btn: #744978;
$btn-hover: #4C394E;
$btn-end: #6DB236;
$btn-end-hover: #4D762D;
$bg-hit: #4200FF;
$bg-new: #AF39E7;
$bg-sale: #EA33C0;
$bg-chat: #10BBD5;