.header {

  &__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }

  &__top {
    background: $bg-header-top;
    width: 100%;
    display: flex;
    height: 72px;
    justify-content: space-between;
    align-items: center;
  }

  &__top-logo {
    display: flex;
    color: $white;
    font-size: 24px;
    font-weight: 700;
    align-items: center;
    margin-left: 52px;
    gap: 4px;
  }

  &__nav-top {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 52px;
    gap: 8px;
  }

  &__nav-top-sum {
    color: $white;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    &::after {
      content: ' €';
    }
  }

  &__nav-top-cart {
    background-image: url(../images/cart/cart-icon.png);
    background-size: cover;
    background-position: center;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    width: 40px;
    height: 40px;
  }

  &__btm {
    padding: 4px 52px;
    display: flex;
    justify-content: space-between;
    background-color: $bg-header-bottom;
    font-family: Cabin;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }

  &__btm-menu-btm {
    display: flex;
    gap: 40px;
  }
}