.footer {
  background: $btn-hover;
  display: flex;
  justify-content: space-between;

  &__copyright {
    color: $white;
    font-size: 16px;
    line-height: 24px;
    margin: 32px 0 32px 52px;
  }

  &__reserved {
    color: $white;
    font-size: 16px;
    line-height: 24px;
    margin: 32px 52px 32px 0;
  }
}